<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>FILM ME</title>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FILM ME</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('index')}}">HOME</a></li>
      <li><a href="{{url_for('new')}}">NEW</a></li>
      <li class= "active"><a href="{{url_for('categories')}}">CATEGORIES</a></li>
      <li><a href="{{url_for('review')}}">REVIEW</a></li>
    </ul>
  </div>
</nav>


<meta name="viewport" content="width=device-width, initial-scale=1">

<h2>CATEGORIES</h2>
<link rel="stylesheet" type="text/css" href="../static/home.css">
<div id="myBtnContainer">
  <button class="btn" onclick="filterSelection('CARTOON')"> CARTOON</button>
  <button class="btn" onclick="filterSelection('ROMANTIC')"> ROMANTIC</button>
  <button class="btn" onclick="filterSelection('ACTION')"> ACTION</button>
  <button class="btn" onclick="filterSelection('COMEDY')"> COMEDY</button>
  <button class="btn" onclick="filterSelection('FANTASY')"> FANTASY</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column CARTOON">
    <div class="content">
      <img src="{{url_for('static', filename='images/smurfs.jpg')}}" alt="smurfs" style="width:55%">
      <h4>smurfs <span style="font-size:150%;color:yellow;">&starf;</span>5.5 </h4>
      <p></p>
    </div>
  </div>
  <div class="column CARTOON">
    <div class="content">
      <img src="{{url_for('static', filename='images/in.jpg')}}" alt="INSIDE" style="width:53%">
      <h4>Inside Out <span style="font-size:150%;color:yellow;">&starf;</span> 8.2</h4>
      <p></p>
    </div>
  </div>
  <div class="column CARTOON">
    <div class="content">
      <img src="{{url_for('static', filename='images/toy.jpg')}}" alt="toy" style="width:57%">
      <h4>Toy Story <span style="font-size:150%;color:yellow;">&starf;</span> 8.3</h4>
      <p></p>
    </div>
  </div>




  <div class="column ROMANTIC">
    <div class="content">
      <img src="{{url_for('static', filename='images/me.jpg')}}" alt="Car" style="width:55%">
      <h4>Me Before You <span style="font-size:150%;color:yellow;">&starf;</span> 7.4</h4>
      <p></p>
    </div>
  </div>
  <div class="column ROMANTIC">
    <div class="content">
      <img src="{{url_for('static', filename='images/notebook.jpg')}}" alt="Car" style="width:56%">
      <h4>The Notebook <span style="font-size:150%;color:yellow;">&starf;</span>7.9 </h4>
      <p></p>
    </div>
  </div>
  <div class="column ROMANTIC">
    <div class="content">
      <img src="{{url_for('static', filename='images/best.jpg')}}" alt="Car" style="width:55%">
      <h4>The Best OF Me <span style="font-size:150%;color:yellow;">&starf;</span> 6.7</h4>
      <p></p>
    </div>
  </div>

  <div class="column ACTION">
    <div class="content">
      <img src="{{url_for('static', filename='images/logan.jpg')}}" alt="People" style="width:55%">
      <h4>Logan <span style="font-size:150%;color:yellow;">&starf;</span>8.1 </h4>
      <p></p>
    </div>
  </div>
  <div class="column ACTION">
    <div class="content">
      <img src="{{url_for('static', filename='images/non.jpg')}}" alt="People" style="width:60%">
      <h4>Non Stop <span style="font-size:150%;color:yellow;">&starf;</span>7</h4>
      <p></p>
    </div>
  </div>
  <div class="column ACTION">
    <div class="content">
      <img src="{{url_for('static', filename='images/london.jpg')}}" alt="People" style="width:58%">
      <h4>London has fallen <span style="font-size:150%;color:yellow;">&starf;</span>5.9</h4>
      <p></p>
    </div>
  </div>

   <div class="column COMEDY">
    <div class="content">
      <img src="{{url_for('static', filename='images/hot.jpg')}}" alt="People" style="width:55%">
      <h4>Hot Fuzz <span style="font-size:150%;color:yellow;">&starf;</span>7.9</h4>
      <p></p>
    </div>
  </div>
  <div class="column COMEDY">
    <div class="content">
      <img src="{{url_for('static', filename='images/house.jpg')}}" alt="People" style="width:43%">
      <h4>The House <span style="font-size:150%;color:yellow;">&starf;</span>5.6</h4>
      <p></p>
    </div>
  </div>
  <div class="column COMEDY">
    <div class="content">
      <img src="{{url_for('static', filename='images/OCEAN.jpg')}}" alt="People" style="width:55%">
      <h4>Ocean's 8 <span style="font-size:150%;color:yellow;">&starf;</span>7</h4>
      <p></p>
    </div>
  </div>



  <div class="row">
  <div class="column FANTASY">
    <div class="content">
      <img src="{{url_for('static', filename='images/star.jpg')}}" alt="smurfs" style="width:55%">
      <h4>Star Wars: The Last Jedi <span style="font-size:150%;color:yellow;">&starf;</span> 7.5</h4>
      <p></p>
    </div>
  </div>
  <div class="column FANTASY">
    <div class="content">
      <img src="{{url_for('static', filename='images/bright.jpg')}}" alt="INSIDE" style="width:55%">
      <h4>Bright <span style="font-size:150%;color:yellow;">&starf;</span>6.5</h4>
      <p></p>
    </div>
  </div>
  <div class="column FANTASY">
    <div class="content">
      <img src="{{url_for('static', filename='images/wonderw.jpg')}}" alt="toy" style="width:55%">
      <h4>Wonder Woman <span style="font-size:150%;color:yellow;">&starf;</span>7.6</h4>
      <p></p>
    </div>
  </div>
<!-- END GRID -->
</div>



<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>
