<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>FILM ME</title>

</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FILM ME</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('index')}}">HOME</a></li>
      <li class= "active"><a href="{{url_for('new')}}">NEW</a></li>
      <li><a href="{{url_for('categories')}}">CATEGORIES</a></li>
      <li><a href="{{url_for('review')}}">REVIEW</a></li>
    </ul>
  </div>
</nav>


<table>
    <tr>
        <td><img src="{{url_for('static', filename='images/wonder.jpg')}}" alt="Flowers in Chania" width="250" height="345" hspace="40"></td>

        <td> <video width="400" height="350" controls >
  <source src="{{url_for('static', filename='video/wonder.mp4')}}" type="video/mp4" hspace="40">
  
</video></td>

   <td><pre>
   WONDER <br>
   tells the inspiring and heartwarming story of August Pullman.
   Born with facial differences that, up until now, have prevented
   him from going to a mainstream school, Auggie becomes the most 
   unlikely of heroes when he enters the local fifth grade. 
   As his family, his new classmates, and the larger community all 
   struggle to find their compassion and acceptance, 
   uggie's extraordinary journey will unite them all and prove you 
   can't blend in when you were born to stand out.</td>

    </tr>
</table>
<hr>
<br>
</pre>

<table>
    <tr>
        <td><img src="{{url_for('static', filename='images/maze.jpg')}}" alt="Flowers in Chania" width="250" height="345" hspace="40"></td>

        <td> <video width="400" height="350" controls >
  <source src="{{url_for('static', filename='video/maze.mp4')}}" type="video/mp4" hspace="40">
  <source src="movie.ogg" type="video/ogg">
</video></td>

   <td><pre> 
   THE MAZE RUNNER: DEATH CURE <br>
   In the epic finale to the Maze Runner saga, 
   Thomas leads his group of escaped Gladers on their final 
   and most dangerous mission yet. To save their friends, 
   they must break into the legendary Last City, a WCKD-controlled 
   labyrinth that may turn out to be the deadliest maze of all.
   Anyone who makes it out alive will get answers to the questions 
   the Gladers have been asking since they first arrived in the maze</td>

    </tr>
</table>    
<hr>
<br>
</pre>

<table>
    <tr>
        <td><img src="{{url_for('static', filename='images/den.jpeg')}}" alt="Flowers in Chania" width="250" height="345" hspace="40"></td>

        <td> <video width="400" height="350" controls >
  <source src="{{url_for('static', filename='video/den.mp4')}}" type="video/mp4" hspace="40">
  <source src="movie.ogg" type="video/ogg">
</video></td>

   <td><pre> 
   DEN OF THIEVES <br>
   Den of Thieves follows the intersecting and often personally
   connected lives of an elite unit of the LA County Sheriff's Dept.
   and the state's most successful bank robbery crew as the outlaws 
   plan a seemingly impossible heist on the Federal Reserve Bank of
   downtown Los Angeles.</td>
</tr>
</table>
<hr>
<br>
</pre>

<table>
    <tr>
        <td><img src="{{url_for('static', filename='images/jumanji.jpg')}}" alt="Flowers in Chania" width="250" height="345" hspace="40"></td>

        <td> <video width="400" height="350" controls >
  <source src="{{url_for('static', filename='video/jumanji.mp4')}}" type="video/mp4" hspace="40">
  <source src="movie.ogg" type="video/ogg">
</video></td>

        <td> <pre>
   JUMANJI:WELCOME TO THE JUNGLE <br>
   In the brand new adventure Jumanji: Welcome to the Jungle,
   the tables are turned as four teenagers in detention are
   sucked into the world of Jumanji. When they discover an old 
   video game console with a game they’ve never heard of, 
   they are immediately thrust into the game’s jungle setting, 
   into the bodies of their avatars, played by Dwayne Johnson, 
   Jack Black, Kevin Hart, and Karen Gillan. 
   What they discover is that you don’t just play Jumanji –
   Jumanji plays you.
   They’ll have to go on the most dangerous adventure of their lives,
   or they’ll be stuck in the game forever.</td>
</tr>
</table>
<hr>
<br>

</pre>
<table>
    <tr>
        <td><img src="{{url_for('static', filename='images/co.jpg')}}" alt="Flowers in Chania" width="250" height="345" hspace="40"></td>

        <td> <video width="400" height="350" controls >
  <source src="{{url_for('static', filename='video/co.mp4')}}" type="video/mp4" hspace="40">
  <source src="movie.ogg" type="video/ogg">
</video></td>

    <td> <pre>
    THE COMMUTER <br>
    In this action-packed thriller, Liam Neeson is Michael, 
    an insurance salesman, whose daily commute home quickly 
    becomes anything but routine. After being confronted by
    a mysterious stranger (Vera Farmiga), Michael is 
    blackmailed into finding the identity of a passenger on his 
    train before the last stop. 
    As he works against the clock to solve the puzzle, Michael is
    unwittingly caught up in a criminal conspiracy that carries 
    life and death stakes for himself and his fellow passengers.</td>
</tr>
</table>
<hr>
<br>
</pre>

<table>
    <tr>
        <td><img src="{{url_for('static', filename='images/rabbit.jpeg')}}" alt="Flowers in Chania" width="250" height="345" hspace="40"></td>

        <td> <video width="400" height="350" controls >
  <source src="{{url_for('static', filename='video/rabbit.mp4')}}" type="video/mp4" hspace="40">
  <source src="movie.ogg" type="video/ogg">
</video></td>

    <td><pre> 
    PETER RABBIT <br> 
    The mischievous and adventurous hero who has captivated
    generations of readers, now takes on the starring role of his
    own irreverent, contemporary comedy with attitude.
    In the film, Peter's feud with Mr. McGregor (Domhnall Gleeson) 
    escalates to greater heights than ever before as they rival for
    the affections of the warm-hearted animal lover who lives next
    door (Rose Byrne).
    James Corden voices the character of Peter with playful 
    spirit and wild charm, with Margot Robbie,Elizabeth Debicki, 
    and Daisy Ridley performing the voice roles of the triplets, 
    Flopsy, Mopsy, and Cottontail.</td>
</tr>
</table>
<hr>
</pre>
<br>
</body>