<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/review.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>FILM ME</title>

</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FILM ME</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('index')}}">HOME</a></li>
      <li><a href="{{url_for('new')}}">NEW</a></li>
      <li><a href="{{url_for('categories')}}">CATEGORIES</a></li>
      <li class= "active"><a href="{{url_for('review')}}">REVIEW</a></li>
    </ul>
  </div>
</nav>
<h1></h1>


<div id="review">
  <div class="row header">
    <h1>REVIEW US &nbsp;</h1>
    <h3></h3>
  </div>
  <div class="row">
    <form action="review" method="post">
      <table>
            <td><label for="first_name">first name</label>
            <input id="first-name" type="text" name="first_name" />

            </td>

            <td><label for="last_name">last name</label>
            <input type="text" name="last_name" />      
        
        </td>
        </table>
            <label for="email">email <span class="req">*</span></label>
            <input type="email" name="email"/>
                
        <div class="divider"></div>
        
          <label for="comments">comments</label>
          <textarea cols="46" rows="3" name="comments"></textarea>
        
        
          <input class="btn btn-submit" type="submit" value="Submit" />
          <small>or press <strong>enter</strong></small>
        
    </form>  
  </div>
</div>